.documentManager-application-launcher-icon {
    background-image: url(images/launcher.png);
}
.documentManager-application-gui-icon {
    background-image: url(images/gui.png);
}
#documentManager-application-shortcut div {
    background-image: url(images/shortcut.png);
}

.kirmizi{
    color:red;
}
.yesil {
    color:green;
}
.icon-delete {
    width:16px;
    height:16px;
}